<div id="footer">
	<span><a href="" class="heading">Registration is open for Startup School 2019. Classes start July 22nd.</a></span>
	<div class="subheading"><a href="">Guidelines</a> | <a href="">FAQ</a> | <a href="">Support</a> | <a href="">API</a> | <a href="">Security</a> | <a href="">Lists</a> | <a href="">Bookmarklet</a> | <a href="">Legal</a> | <a href="">Apply to YC</a> | <a href="">Contact</a></div>
	<br>
	<div><span class="search">Search</span> : <input type="text" name=""></div>
</div>
